/**----------------------
 *    FORMATO  ETIQUETAS 
 *------------------------**/
* {
	margin: 0;
}

body {
	font-family: var(--font-family-parrafo);
	font-size: var(--font-global);
}
header {
	align-items: center;
	background-color: var(--bg-header);
	display: flex;
	padding: 5px 25px;
}
a {
	text-decoration: none;
}

picture {
	width: 50%;
}
figcaption {
	width: 50%;
}
main {
	padding: 0 20px;
}
footer {
	background-color: var(--bg-footer);
	color: var(--color-footer);
	display: flex;
	font-family: var(--font-family-parrafo);
	height: 30vh;
}
ul {
	list-style: none;
}
